.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

.drop-div {
    padding: 5px;
    background: white;
    border-radius: 25px;
    margin: 10px;
    -webkit-transition: height 0.5s linear;
    transition: height 0.5s linear;
}