body {
    font-family: 'Special Elite', cursive;
}

p {
    font-family: 'Neucha', cursive;
    font-size: 3vmin;
}

div {
    -webkit-transition: transform 0.5s, width 0.5s, height 0.5s, opacity 500ms;
    transition: transform 0.5s, width 0.5s, height 0.5s, opacity 500ms;
}

div.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.left-arrow {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.right-arrow {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.top-arrow {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.bottom-arrow {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.top_right-arrow {
    position: absolute;
    top: 1%;
    right: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

div.top_left-arrow {
    position: absolute;
    top: 1%;
    left: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

div.bottom_right-arrow {
    position: absolute;
    bottom: 1%;
    right: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

div.bottom_left-arrow {
    position: absolute;
    bottom: 1%;
    left: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.faded {
    opacity: 0.4;
}

.indicator-text {
    font-size: 3vw;
}

.blinker {
    animation: blinker 1.5s ease-in-out infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.white-font {
    font-size: 3vw;
    color: black;
}

.background-color {
    background: #FFFF;
}

.large-font {
    font-size: 7vw;
    color: black;
}

.hover-button {
    -webkit-transition: width 700ms, height 700ms;
    transition: width 700ms, height 700ms;
    height: 50;
    width: 50;
}

.hover-button:hover {
    width: 60;
    height: 60;
}

.hidden {
    display: none;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
}

.flexbox-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.display-full {
    height: 100%;
    width: 100%;
    top: 0%;
    position: absolute;
}

div.slide-in-left {
    animation: slide-left 0.5s linear;
}

div.slide-in-top {
    animation: slide-top 0.5s linear;
}

div.slide-in-right {
    animation: slide-right 0.5s linear;
}

div.slide-in-bottom {
    animation: slide-bottom 0.5s linear;
}

div.slide-in-top_left {
    animation: slide-top-left 0.5s linear;
}

div.slide-in-top_right {
    animation: slide-top-right 0.5s linear;
}

div.slide-in-bottom_left {
    animation: slide-bottom-left 0.5s linear;
}

div.slide-in-bottom_right {
    animation: slide-bottom-right 0.5s linear;
}

@keyframes slide-left {
    from { transform: translate(-100%, 0%); opacity: 0; }
    to { transform: translate(0%, 0%); opacity: 1; }
}

@keyframes slide-right {
    from { transform: translate(100%, 0%); opacity: 0; }
    to { transform: translate(0%, 0%); opacity: 1; }
}

@keyframes slide-top {
    from { transform: translate(0%, -100%); opacity: 0; }
    to { transform: translate(0%, 0%); opacity: 1; }
}

@keyframes slide-bottom {
    from { transform: translate(0%, 100%); opacity: 0; }
    to { transform: translate(0%, 0%); opacity: 1; }
}

@keyframes slide-top-left {
    from { transform: translate(-100%, -100%); opacity: 0; }
    to { transform: translate(0%, 0%); opacity: 1; }
}

@keyframes slide-top-right {
    from { transform: translate(100%, -100%); opacity: 0; }
    to { transform: translate(0%, 0%); opacity: 1; }
}

@keyframes slide-bottom-left {
    from { transform: translate(-100%, 100%); opacity: 0; }
    to { transform: translate(0%, 0%); opacity: 1; }
}

@keyframes slide-bottom-right {
    from { transform: translate(100%, 100%); opacity: 0; }
    to { transform: translate(0%, 0%); opacity: 1; }
}

div.hide-left {
    animation: hide-left 0.5s linear;
}

div.hide-top {
    animation: hide-top 0.5s linear;
}

div.hide-right {
    animation: hide-right 0.5s linear;
}

div.hide-bottom {
    animation: hide-bottom 0.5s linear;
}

div.hide-top_left {
    animation: hide-top-left 0.5s linear;
}

div.hide-top_right {
    animation: hide-top-right 0.5s linear;
}

div.hide-bottom_left {
    animation: hide-bottom-left 0.5s linear;
}

div.hide-bottom_right {
    animation: hide-bottom-right 0.5s linear;
}

@keyframes hide-left {
    from { transform: translate(0%, 0%); opacity: 1; }
    to { transform: translate(-100%, 0%); opacity: 0; }
}

@keyframes hide-top {
    from { transform: translate(0%, 0%); opacity: 1; }
    to { transform: translate(0%, -100%); opacity: 0;}
}

@keyframes hide-right {
    from { transform: translate(0%, 0%); opacity: 1; }
    to { transform: translate(100%, 0%); opacity: 0; }
}

@keyframes hide-bottom {
    from { transform: translate(0%, 0%); opacity: 1; }
    to { transform: translate(0%, 100%); opacity: 0; }
}

@keyframes hide-top-left {
    from { transform: translate(0%, 0%); opacity: 1; }
    to { transform: translate(-100%, -100%); opacity: 0; }
}

@keyframes hide-top-right {
    from { transform: translate(0%, 0%); opacity: 1; }
    to { transform: translate(100%, -100%); opacity: 0;}
}

@keyframes hide-bottom-left {
    from { transform: translate(0%, 0%); opacity: 1; }
    to { transform: translate(-100%, 100%); opacity: 0; }
}

@keyframes hide-bottom-right {
    from { transform: translate(0%, 0%); opacity: 1; }
    to { transform: translate(100%, 100%); opacity: 0; }
}