body {
    font-family: 'Raleway', sans-serif;
}

.flexbox-row {
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.flexbox-column {
    flex-direction: column;
    display: flex;
}

div.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

div.right-arrow {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

div.left-arrow {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

div.top-arrow {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

div.bottom-arrow {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.white-font {
    font-size: 3vw;
    color: white;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(180deg);
    /* Firefox */
    -moz-transform: rotate(180deg);
    /* IE */
    -ms-transform: rotate(180deg);
    /* Opera */
    -o-transform: rotate(180deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.background-color {
    background: #011A0A;
}

.large-font {
    font-size: 7vw;
    color: white;
}